.jumbotron h1 {
  text-align: center;
  text-transform: uppercase;
}
.jumbotron {
  margin: 20px 0;
}

.shelves-row {
  background-color: antiquewhite;
  padding: 40px;
  padding-top: 0;
  /*border: 1px solid red;*/
}

.shelf {
  padding: 40px;
  text-align: center;
}

.product-card {
  padding: 10px;
  width: 200px;
  margin: 10px auto;
}

.product-card:hover {
  background-color: grey;
}

.product-card-img {
  height: 100px;
}

.aisle-name {
  border-radius: 1px;
  display: inline-block;
  padding: 5px 50px;
  background-color: white;
}

.client-catwalk {
  background-color: antiquewhite;
  padding: 40px;
}

.standing-point {
  text-align: center;
}

.client {
  width: 50px;
  height: 50px;
  background-color: black;
  display: inline-block;
  border-radius: 50%;
}
